{
  "plugins": [
    ["transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        },
        "date-fns" : {
          "transform": "date-fns/${member}",
          "preventFullImport": true
        }
      }],
    ["transform-semantic-ui-react-imports"],
    ["@babel/plugin-syntax-dynamic-import"]],
  "presets": [["@babel/env", { "targets": { "node": 6 } }]]
}
