body {
    overflow-x:auto !important;
}

.icon.number:before {
    content: "12";
}


.shy {
    opacity:0.6!important;
}
.shy:hover {
    opacity:1 !important;
}

.super-shy {
    visibility: hidden;
}
:hover > .super-shy {
    visibility: visible !important;
}

.super-shy-th {
    visibility: hidden;
}
th:hover .super-shy-th {
    visibility: visible !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}