body {
    overflow-x:auto !important;
}

.icon.number:before {
    content: "12";
}


.shy {
    opacity:0.6!important;
}
.shy:hover {
    opacity:1 !important;
}

.super-shy {
    visibility: hidden;
}

.hoverable:hover .super-shy {
    visibility: visible !important;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.editable {
    cursor: pointer;
}
.editable:hover:after {
    font-family: Icons;
    content: " \f044";
}

.hoverable:hover .editable:after {
    font-family: Icons;
    content: " \f044";
}

.inline-block {
    display: inline-block;
}